#Date {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.panel-user-info ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.panel-user-info ul li {
    display: inline;
    text-align: center;
}
